<h1>Sign up for a free account!</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div style="text-align: justify">
  <p>
  This website contains materials from the BAMPFA Film Library and Study Center’s CineFiles project
  that may be protected by U.S. copyright, and possibly other statutes, even if no copyright symbol (©) appears. Please be advised that we are providing these materials for personal study purposes only, following sections 107 (Fair Use) and 108 (Reproduction by Libraries and Archives) of the U.S. Copyright Act; please contact the publisher to obtain permission for any other type of use.
  </p>
  <p class="minor-heading"><i>
  When you create a CineFiles account, we grant you individual research-only access to documents that are strictly reserved for such individual, personal use. By creating an account and/or logging in you acknowledge these terms and assume responsibility for complying with these and any other applicable terms.
  </i></p>

  <h2>Here are some other benefits of creating an account:</h2>
  <ul>
    <li>Save your searches to archive complex queries, or for research you'd like to return to</li>
    <li>View and manage your private search history</li>
    <li>Bookmark records to create a library of your favorite resources</li>
  </ul>

  <p>
  Your login information is used to authenticate you for access to restricted materials and to allow you to
  save and retrieve your searches. We will not track your individual activities and never share your information with third parties. We encourage you to read our <a href="https://bampfa.org/cinefiles/about/accounts/">privacy statement</a> which has more detailed information about how we protect your privacy.
  </p>    

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  </div>
<% end %>

  <hr/>
<%= render "devise/shared/links" %>
